:root {
    --button-color: #5783db;
    --button-color-hover: #75A1F9;
    --button-shadow-focus: #618DE5;
}

body {
    background-size: 100vw 100vh;
    background-image: radial-gradient(rgba(255, 192, 203, 0.2), rgba(140, 130, 182, 0.1));
}

.title {
    color: slategrey;
    margin-bottom: 60px;
    font-family: "Sabon";
    font-size: 50px;
}

.text {
    color: charcoal;
    font-family: "Sabon";
}

.text-headline-list {
    font-weight: bold;
    text-align: center;
}

.text-size-3 {
    font-size: 18px;
}

.text-size-2 {
    font-size: 20px;
}

.text-size-1 {
    font-size: 30px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.center-element {
    text-align: center;
}



.center-body {
    position: fixed; /* ignores all other elements on the page */
    /* expands the element to the width and height of the parent element (the screen because the position is fixed) */
    width: 100%;
    height: 100%;

    padding-left: 20px;
    padding-right: 20px;
    display: flex; /* enables flex box */
    flex-direction: column; /* displays elements in a column */
    justify-content: center;  /* items are horizontally centered and not spaced out */
    align-items: center;  /* items retain their size and are vertically centered  */
}

.flex-row-evenly {
    display: flex; /* enables flex box */
    flex-flow: row nowrap;  /* shortcut that combines flex direction and flex wrap */
    justify-content: space-evenly; /* items are evenly distributed in the line; first item is on the start line, last item on the end line */
}



.text-random-fact {
    color: charcoal;
    font-family: "Sabon";
}

.container-index-buttons {
    display: flex;
    flex-direction: column;
}

.button-back {
    position: fixed; /* ignores all other elements on the page */
    color: slategrey;
    font-size: 50px;
    cursor: pointer;
    z-index: 999; /* An element with greater stack order (z-index) is always in front of an element with a lower stack order. */
}

.button-back:hover {
    color: dimgrey;
}

.bottom-button {
    height: 33px;
    margin-bottom: 15px;
}

.card-button-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
}

/*BOOTSTRAP MODS:*/

.btn-info {
  background-color: var(--button-color);
}

.btn-info:hover {
  background-color: var(--button-color-hover);
}

.btn-info:focus, .btn-info.focus {
  background-color: var(--button-color-hover);
  border-color: var(--button-shadow-focus);
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  background-color: var(--button-color-hover);
  border-color: var(--button-shadow-focus);
}

.card {
    background-color: rgba(255, 255, 255, 0.7);
    height: 270px;
}

.card:hover {
    background-color: rgba(255, 255, 255, 1);
}


.container {
  align-content: center;
  align-items: center;
}

/* ARCHIVE: */

/*
.align-bottom-left {
    position: absolute;
    bottom: 15px;
    z-index: 1;
}
*/