{% extends "base.html" %}

{% block title %}<title>About</title>{% endblock title %}

{% block content %}
    <div class="container py-5">
        <div class="row align-items-center" style="row-gap: 50px;">
            <div class="col-lg-4 col-sm-12 center-element">
                <img src="/static/img/dall_e_me.png" class="img-rounded img-fluid px-3" style="max-width: 300px;">
            </div>
            <div class="col-lg-8 col-sm-12">
                <p class="text text-size-2 center-element">
                    I am a junior web developer with enthusiasm for creating through code. I fell in love with web design when I created my first website on google in primary school.
                    I stumbled around for a while, figuring out the world of coding but once I rediscovered web-development I remembered why I was drawn to coding in the first place.
                    I learned a lot on my journey and have gained a range of experience that I can pull from. I firmly believe that understanding the bigger picture is helpful when
                    working on specific tasks.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col pt-5">
                <h5 class="text text-size-1 text-headline-list">Most relevant experience:</h5>
                <ul class="list-group list-group-flush text text-size-3 pt-3">
                  <li class="list-group-item">Working with my and other dogs has taught me the most about how we all think, feel and learn. I gained patience an understanding for other perspectives.<br></li>
                  <li class="list-group-item">I learned time management, sticking to budgets, people management and conflict resolution between staff and gained a lot of business insight when working for a high-net-worth individual in London.</li>
                  <li class="list-group-item">In my marketing work I learned a lot about different marketing techniques and I gained a basic understanding of how digital marketing works and what to look out for. Most importantly, I expanded on my skills of understanding others and have developed a habit of putting the user first.</li>
                </ul>
                <p class="text text-size-1 text-center font-italic pt-5">My skillset may be unique, but it's also unique!</p>
            </div>
        </div>
    </div>
{% endblock content %}