{% extends "base.html" %}

{% block title %}<title>About</title>{% endblock title %}

{% block content %}
    <div class="container py-5">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-4 col-sm-12">
                <img src="/static/img/dall_e_me.png" alt="Oh no, please let me know if the image is broken."
                     class="img-rounded img-fluid max-width-19rem mb-3 mb-lg-0">
            </div>
            <div class="col-lg-8 col-sm-12">
                <p class="text text-size-2">
                    I am a junior web developer with enthusiasm for creating through coding. I fell in love with web
                    design when I created my first website on Google in primary school.
                    I stumbled around for a while, figuring out the world of coding, but once I rediscovered
                    web-development, I remembered why I was drawn to coding in the first place.
                </p>
                <p class="text text-size-2">
                    I learned a lot on my journey and have gained a range of experiences that I can pull from. I firmly
                    believe that both understanding and keeping the bigger picture in mind is very beneficial
                    even when working on specialised tasks.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col pt-5">
               {# <div>
                    <p>
                        I love working with data! Designing, using databases and organising, manipulating data.
                        I see myself as a backend developer in the future.
                    </p>
                    <p>
                        Developed frontend development skills. I am proficient with Bootstrap 5 and CSS.
                        I have also gained a lot of practical experience with Javascript.
                    </p>
                    <p>
                        Customising and utilising development environments. I have experience with using
                        various packages, plugins, libraries, etc.
                    </p>
                    <p>
                        I have become very used to debugging various issues by understanding and researching
                        errors, using breakpoints, logs, and other tools. I also solved issues regarding
                        the deployment environment.
                    </p>
                    <p>
                        Working on a project under supervision. Collaborating using GitHub and understanding
                        the development process of an app.
                    </p>
                </div>#}
                <h5 class="text text-size-1 text-headline-list">What I learned before I started coding</h5>
                <ul class="list-group list-group-flush text text-size-3 pt-3">
                    <li class="list-group-item">Working with my and other dogs has taught me the most about how we all
                        think, feel and learn. I gained <b>patience and understanding</b> for other perspectives.<br></li>
                    <li class="list-group-item">I learned <b>time management, sticking to budgets, people management and
                        conflict resolution</b> between staff and gained a lot of business insights when working for a
                        high-net-worth individual in London.
                    </li>
                    <li class="list-group-item">In my marketing work, I learned a lot about different marketing
                        techniques, and I gained a basic understanding of how digital marketing works and what to look
                        out for. Most importantly, I expanded on my skills of understanding others and have developed a
                        habit of <b>putting the user first</b>.
                    </li>
                </ul>
                <p class="text text-size-1 text-center font-italic pt-5">My skill-set may be unique, but it's also
                    unique!</p>
            </div>
        </div>
    </div>
{% endblock content %}