<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}{% endblock title %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--TODO: <link>src="{{ url_for('static', filename='img/carousel_img_1.jpg') }}"</link>-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <!-- JavaScript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>

    <link rel="stylesheet" href="/static/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sahitya|Geostar-Fill">
    <link rel="stylesheet" href="/static/css/hw_style.css">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/729eac01bc.js" crossorigin="anonymous"></script>

</head>

<body>

{% if request.path == "/" %}
    {{ pass }}
{% else %}
    <div class="d-flex align-items-start">
        <i onclick="window.location.href='/'" class="bi bi-arrow-left button-back mt-3 ml-5 col-1"></i>
    </div>
{% endif %}

{% block content %}
{% endblock content %}

{% block javascript %}
{% endblock javascript %}
</body>
</html>