<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--TODO: <link>src="{{ url_for('static', filename='img/carousel_img_1.jpg') }}"</link>-->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.css">

        <!-- JavaScript files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="/static/js/bootstrap.js"></script>

        <link rel="stylesheet" href="/static/css/hw_style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sahitya|Geostar-Fill" >


    </head>

    <body class="center-body">
        <h1 class="title center-element">Hello, my name is Neža and I love to learn!</h1>
        <div class="center-element">
            <button onclick="window.location.href='/about'" class="btn btn-info" style="margin-right:20px;">About me</button>
            <button onclick="window.location.href='/portfolio'" class="btn btn-info">Portfolio</button>
        </div>
    </body>
</html>