{% extends "base.html" %}

{% block title %}<title>Home</title>{% endblock title %}

{% block content %}
    <div class="mx-auto center-body">
        <h1 class="title center-element">Hello, my name is Neža and I love to learn!</h1>
        <h5 id="fact-generator-text" class="center-element margin-bottom-50px">&nbsp;</h5>

        <div class="container-index-buttons">
            <button id="fact-generator-button" class="btn btn-info margin-bottom-50px">Random fact generator</button>
            <div class="center-element">
                <a href="/portfolio" class="btn btn-info margin-right-20" role="button">Coding</a>
                <a href="/about" class="btn btn-info" role="button">Soft skills</a>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script>
        //document.getElementById("fact-generator-button").addEventListener("click", getAndShowFact()); -- vanilla js (not jquery)

        var timeoutId;

        function writeCharacter(ElementId, character) {
           $("#" + ElementId).append(character);
        }

        function typewriteToElement(elementId, text, speed) {
            if(typeof timeoutId !== "undefined") {
                clearTimeout(timeoutId);
            }
            let i = 0;
            iterate();
            function iterate() {
                if (i < text.length) {
                    $("#" + elementId).append(text.charAt(i));
                    i++;
                    timeoutId = setTimeout(iterate, speed);
                }
            }
        }

        $(document).ready(function() {
            //$("#fact-generator-button").on("click", getAndShowFact())
            $("#fact-generator-button").on("click", function() {
                $.get("/fact-generator", function(data) {

                    $("#fact-generator-text").html("&nbsp;")
                    typewriteToElement("fact-generator-text", data, 50)
                });
            })
        });
    </script>
{% endblock javascript %}