<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--TODO: <link>src="{{ url_for('static', filename='img/carousel_img_1.jpg') }}"</link>-->
        <!-- Bootstrap CSS -->
        <link href="/static/css/bootstrap.css" rel="stylesheet">

        <!-- JavaScript files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="/static/js/bootstrap.js"></script>

        <link rel="stylesheet" href="/static/css/hw_style.css">
        <link rel="stylesheet" href="/static/node_modules/bootstrap-icons/font/bootstrap-icons.css">
        <link href="https://fonts.googleapis.com/css?family=Sahitya|Geostar-Fill" rel="stylesheet">

    </head>

    <body>
        <i onclick="window.location.href='/'" class="bi bi-arrow-left button-back pt-5 pl-5"></i>
        <div class="card-deck center-body">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Hans the Hairdresser</h5>
                <h6 class="card-subtitle mb-2 text-muted">CSS, HTML</h6>
                <p class="card-text">Frontend solo homework project for Smart Ninja course: Web development 1. </p>
                <a href="http://127.0.0.1:5000/portfolio/hair-salon" class="btn btn-sm btn-info align-bottom-left" style="margin-right:20px;">Open page</a>
              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Asteroids</h5>
                <h6 class="card-subtitle mb-2 text-muted">Python</h6>
                <p class="card-text">Full asteroid game solo project. Final project for "Introduction to Interactive Programming in Python" course from RICE University.</p>
                <a href="https://github.com/NezaVizintin/Asteroids" class="btn btn-sm btn-info align-bottom-left" style="margin-right:20px;" role="button">Play game</a>
              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Guess the number</h5>
                <h6 class="card-subtitle mb-2 text-muted">Python</h6>
                <p class="card-text">Solo homework project for Smart Ninja course: Web development 1. It includes all the python skills I obtained through the course.</p>
                <a href="https://github.com/NezaVizintin/Lekcija_12_functions/tree/main/guess_the_number_3" class="btn btn-sm btn-info align-bottom-left" style="margin-right:20px;">Open git</a>
              </div>
            </div>
        </div>
    </body>
</html>